
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotfound</title>
</head>
<body>
    <div> 
        <center style="font-size:30px;margin-top:300px;color:red">
            Trang hiện đang trong quá trình bảo trì  .Xin quý khách vui lòng chờ đợi và thực hiện lại sau khi quá trình bảo trì được hoàn thành! 
        </center>
    </div>
</body>
</html>
