
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="columns-container" >
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span>Danh muc</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Áo thun nam</a>

                                    </li>
                                    <li><span></span><a href="#">Áo thun nữ</a></li>
                                    <li><span></span><a href="#">Áo sơ mi nam</a></li>
                                    <li><span></span><a href="#">Áo sơ mi nữ</a></li>
                                    <li><span></span><a href="#">Đầm nữ</a></li>
                                    <li><span></span><a href="#">Chân váy</a></li>
                                    <li><span></span><a href="#">Quần jean nữ</a></li>
                                    <li><span></span><a href="#">......</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span>San pham ban chay S</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="~/Content/Images/ATHN00120-300x300.jpg    " frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->
                <!-- block image -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-camera"></span>  GALLERIES</p>
                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Content/Images/20namchangduong.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="" />" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Content/Images/ao-so-mi-nu-tron-from-ao.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/news2.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product"
                                                         src="~/Content/Images/ao-so-mi-nam-loang-mau.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/news3.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Content/Images/ASNN00750-300x300.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/news4.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Content/Images/ATHN00120-300x300.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/news5.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a>
                                                    <img class="img-responsive" alt="product" style="border-radius: 15%"
                                                         src="~/Content/Images/ASNN00746-300x300.jpg" />
                                                </a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/news6.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title"><span class="fa fa-newspaper-o"></span> NEWS</span>
                </h2>
                <!-- ../page heading-->
                <ul class="blog-posts">
                    <div ng-repeat="s in listdata1">
                        <li class="post-item">
                            <article class="entry">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="entry-thumb image-hover2">
                                            <a>
                                                <img  src="/Content/Images/{{s.Anh}}"  alt="News">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="entry-ci">
                                            <h3 class="entry-title"><a href="how-coconut-oil-may-rescue.html">{{s.TieuDe }}</a></h3>

                                            <div class="entry-meta-data">
                                                <span class="author">
                                                    <i class="fa fa-user"></i>
                                                    by: <a href="#"> Sayer Ji</a>
                                                </span>
                                                <span class="date"><i class="fa fa-calendar"></i>{{s.NgayDang | date:"dd/MM/yyyy"}} </span>
                                            </div>
                                            <div class="entry-excerpt">
                                                {{s.NoiDung}}
                                            </div>
                                            <div class="entry-more">
                                                <a href="#">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>


