
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title">Check out</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            <div class="panel-group checkout-page accordion scrollable" id="checkout-page">


                <!-- BEGIN PAYMENT ADDRESS -->
                <div id="payment-address" class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle">
                                Step 1: Your Personal Details
                            </a>
                        </h2>
                    </div>
                    <div id="payment-address-content" class="panel-collapse collapse in">
                        <div class="panel-body row">
                            <div class="col-md-6 col-sm-6">

                                <div class="form-group">
                                    <label for="firstname">Họ Tên<span class="require">*</span></label>
                                    <input type="text" ng-model="HoTen" id="firstname" class="input form-control">
                                </div>

                                <div class="form-group">
                                    <label for="email">Địa Chỉ <span class="require">*</span></label>
                                    <input ng-model="diachi" type="text" id="email" class="input form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Phone <span class="require">*</span></label>
                                    <input ng-model="sdt" type="text" id="email" class="input form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Email <span class="require">*</span></label>
                                    <input type="text" ng-model="Email" id="lastname" class="input form-control">
                                </div>
                                <div class="form-group">
                                    <label for="telephone">Số Lượng  <span class="require">*</span></label>
                                    <label>{{soluong}} </label>
                                </div>
                                <div class="form-group">
                                    <label for="telephone">Tổng tiền <span class="require">*</span></label>
                                    <label>{{TongTien | number: 1.0 -3}}</label>
                                </div>
                                <div class="form-group">
                                    <label for="telephone">tài khoản  <span class="require">*</span></label>
                                    <input type="text" ng-model="TaiKhoan" id="telephone" class="input form-control">
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="cart_navigation">
                        <a class="prev-btn" href="/Home/Index">Tiếp tục mua sắm</a>
                        <input style="float:right" ng-click="ThanhToan()" type="submit" value="Thanh Toán " />
                    </div>
                </div>
                
                <!-- END CONFIRM -->
            </div>

        </div>
    </div>
</div>
<!-- ./page wapper-->


